script(src="/js/jquery.min.js")
script(src="/js/bootstrap.min.js")
script(src="/js/qrcode.min.js")
script(src="/js/select2.min.js")
script(src="/js/Chart.bundle.min.js")
script(src="/js/sweetalert2.all.min.js")
script(src="/js/app.js")

block foot
